/*
Obsidian Black: #0B1215
Snow: #FFFAFA
Blue: #0077b6
Pink: #e65e8b
*/

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #FFFAFA;
}

.navBar {
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbf1ff;
    border-bottom: 2px solid black;
}

.logo {
    width: 100px;
    position: absolute;
    top: -10px;
    left: 0px;
    cursor: pointer;
}

.navBar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navBar ul li a {
    text-decoration: none;
    color: #0d2147;
    text-transform: uppercase;
    font-weight: bold;
}

.navBar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #0d2147;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navBar ul li:hover::after {
    width: 100%;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 2em 3em;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    position: relative;
    padding-bottom: 5em;
}

.details {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.time {
    font-size: 4em;
}

.date {
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .time {
        font-size: 6em;
    }
}

@media screen and (max-width: 500px) {
    .clock {
        font-size: 13px;
    }
}

.weatherDisplay {
    width: 200px;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1px 20px 15px;
    color: white;
    display: block;
}

.weatherDisplay h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.weatherDisplay input{
    width: 100%;
    height: 40px;
    background: transparent;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: black;
}

.weatherDisplay input::placeholder{
    font-size: 13px;
}

.weatherDisplay button{
    width: 100%;
    height: 45px;
    background: lightgreen;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.calendarDisplay{
    width: 200px;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1px 20px 15px;
    color: Black;
    display: block;
}

.calendarDisplay button{
    width: 100%;
    height: 45px;
    background: lightgreen;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.calendarDisplay label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.calendarDisplay input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.calendarDisplay input::placeholder{
    font-size: 5px;
}

.calendarDisplay input::placeholder{
    font-size: 13px;
}

.displays{
    display: flex;
    justify-content: space-between;
  }