/*
Obsidian Black: #0B1215
Snow: #FFFAFA
Blue: #0077b6
Pink: #e65e8b
*/

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #FFFAFA;
}

.navBar {
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbf1ff;
    border-bottom: 2px solid black;
}

.logo {
    width: 100px;
    position: absolute;
    top: -10px;
    left: 0px;
    cursor: pointer;
}

.navBar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navBar ul li a {
    text-decoration: none;
    color: #0d2147;
    text-transform: uppercase;
    font-weight: bold;
}

.navBar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #0d2147;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navBar ul li:hover::after {
    width: 100%;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 2em 3em;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    position: relative;
    padding-bottom: 5em;
}

.details {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.time {
    font-size: 4em;
}

.date {
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .time {
        font-size: 6em;
    }
}

@media screen and (max-width: 500px) {
    .clock {
        font-size: 13px;
    }
}

.weatherDisplay {
    width: 200px;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1px 20px 15px;
    color: white;
    display: block;
}

.weatherDisplay h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.weatherDisplay input{
    width: 100%;
    height: 40px;
    background: transparent;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: black;
}

.weatherDisplay input::placeholder{
    font-size: 13px;
}

.weatherDisplay button{
    width: 100%;
    height: 45px;
    background: lightgreen;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.calendarDisplay{
    width: 200px;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1px 20px 15px;
    color: Black;
    display: block;
}

.calendarDisplay button{
    width: 100%;
    height: 45px;
    background: lightgreen;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.calendarDisplay label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.calendarDisplay input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.calendarDisplay input::placeholder{
    font-size: 5px;
}

.calendarDisplay input::placeholder{
    font-size: 13px;
}

.displays{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.timeline-page {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    box-sizing: border-box;
    background: #2e364a;
}

.timeline-page button {
    background: #fff;
    padding: 30px 200px;
    border-radius: 25px;
    font-size: 20px;
    translate: 60px 350px;
}

.left-container {
    position: fixed;
    color: #fff;
    font-size: 30px;
    translate: 45px 100px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 5s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.right-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.right-container:nth-child(1) {
    animation-delay: 0.5s;
}

.right-container:nth-child(2) {
    animation-delay: 1s;
}
.right-container:nth-child(3) {
    animation-delay: 1.5s;
}

.right-container:nth-child(4) {
    animation-delay: 2s;
}
.right-container:nth-child(5) {
    animation-delay: 2.5s;
}
.right-container:nth-child(6) {
    animation-delay: 3s;
}
.right-container:nth-child(7) {
    animation-delay: 3.5s;
}
.right-container:nth-child(8) {
    animation-delay: 4s;
}
.right-container:nth-child(9) {
    animation-delay: 4.5s;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    translate: 620px 0px;
}

.circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 15px;
    color: #000;
    text-align: center;
    background: #fff;
    translate: -125px 0px;
}