/*
Obsidian Black: #0B1215
Snow: #FFFAFA
Blue: #0077b6
Pink: #e65e8b
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(63deg, rgba(34,193,195,1) 0%, rgba(253,45,252,1) 100%);
}

.loginPage{
    background: rgb(255,255,255,0.3);
    color: #0B1215;
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.loginPage h1{
    font-size: 36px;
    text-align: center;
    overflow: hidden;
    animation: animate 2s linear forwards;
}

@keyframes animate {
    0% { 
        width: 0px; 
        height: 0px; 
    } 

    30% { 
        width: 300px; 
        height: 0px; 
    } 

    60% { 
        width: 350px; 
        height: 60px; 
    } 
}

.loginPage .inputBox{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder{
    color: #fff;
}

.inputBox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.loginPage .forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff
}